@model IEnumerable<EventosEF.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a class="cor4" asp-action="Create">CRIAR NOVA CATEGORIA</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="table-light">
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                    <a class ="cor" asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                    <a class="cor" asp-action="Details" asp-route-id="@item.CategoriaId">Detalhes</a> |
                    <a class="cor" asp-action="Delete" asp-route-id="@item.CategoriaId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
